<div id='ticket'>
	<h2><%= @ticket.title %></h2>
	<!-- Note: simple_format converts line breaks entered
	into the description field into <br> tags -->
	<%= simple_format(@ticket.description) %>
</div>

